.section-one{
    background-color:rgba(45,19,45,0.9);
    color:white;

}
.section-two{
    background:url("../images/j.jpg");
    color:#ecf0f1;
    font-size:20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}